
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Ubuntu', sans-serif;
} 
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width:100%;
     
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background:#e29a00;
    border-left:10px solid #e29a00;
    transition:0.5s;
    overflow: hidden;
}
.navigation.acti ve{
    width:80px;
}
.navigation ul{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
}
.navigation ul li{
   position: relative;
   width: 100%;
   list-style: none;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;

}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: white;
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display:block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color :#e29a00;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 70px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
  font-size: 1.50em;
}
.navigation ul li a .title
{
 position: relative;
 display: block;
 padding: 0 10px;
 height: 60px;
 line-height: 60px;
 text-align: start;
 white-space: nowrap;
}
/* curve ooutside*/
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background:transparent;
    border-radius:50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;

}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom :-50px;
    width: 50px;
    height: 50px;
    background:transparent;
    border-radius:50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;

}

.header {
    width: 100%;
    height: 155px;
    background-image: url('./images/bg-header-desktop.svg');
    background-size: cover;
    background-position: center;
    background-color: var(--highlight-color);
}

.search {
    position: absolute;
    width:calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background:#e29a00;
    transition: 0.5s;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -7px rgba(93,164,164,0.5);
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: -36px;
    opacity: 1;
    display: flex;
    justify-content: space-between;

}

.search--hidden {
    opacity: 20;
}

.search__clear {
    margin-left: 50px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: var(--highlight-color);
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.search__clear:hover {
    text-decoration: underline;
}

.jobs {
    position: absolute;
    width:calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}

.jobs__item {
    width: 100%;
    height: auto;
    padding: 35px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 10px 15px -7px #e29a00;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.jobs__column {
    display: flex;
    align-items: center;
}

.jobs__img {
    width: 90px;
    height: auto;
}

.jobs__info {
    margin-left: 25px;
    width: auto;
}

.jobs__company {
    color: #e29a00;
    font-size: 14px;
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
}

.jobs__title {
    color: var(--very-dark-color);
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}

.jobs__details {
    margin: 0;
    padding: 0;
}

.jobs__details-item {
    display: inline-block;
    color: hsl(180, 8%, 52%);
    font-size: 15px;
}

.jobs__details-item::after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: hsl(180, 8%, 52%);
    display: inline-block;
    margin: 5px 15px;
}

.jobs__details-item:last-child::after {
    display: none;
}

.tag, .close-tag {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: hsl(180, 31%, 95%);
    font-weight: 700;
    font-size: 14px;
    color: var(--highlight-color);
    margin: 7.5px 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
}

.close-tag {
    padding-right: 45px;
}

.close-tag::after {
    content: "";
    display: block;
    width: 35px;
    height: 100%;
    background-color: var(--highlight-color);
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('./images/icon-remove.svg');
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tag:hover, .tag--active {
    background-color: var(--highlight-color);
    color :#e29a00;
}

.close-tag:hover::after {
    background-color: var(--very-dark-color);
}

@media (max-width: 1120px) {
    .search {
        margin-bottom: 50px;
    }

    .search__clear {
        margin-left: 20px;
    }

    .jobs {
        grid-row-gap: 50px;
    }

    .jobs__item {
        flex-wrap: wrap;
    }

    .jobs__info {
        margin-left: 0;
        width: 100%;
    }

    .jobs__column {
        justify-content: flex-start;
        flex: 0 1 100%;
        flex-wrap: wrap;
    }

    .jobs__column--left {
        border-bottom: #ABABAB solid 1px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .jobs__column--right {
        width: 100%;
        justify-content: flex-start;
        flex: 0 1 100%;
        flex-wrap: wrap;
        margin-left: -5px;
    }

    .jobs__img {
        width: 50px;
        margin-top: calc(-35px - 25px);
        margin-bottom: 20px;
    }
}