<!DOCTYPE html>
<html lang="en">
<head>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
    <meta charset="UTF-8">
    <title> Skill and Job recommender </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
  
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#">Job Recommender</a></div>
      <ul class="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#product">Categories</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Log in</a></li>

          <div class="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
      </ul>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </nav>

<!-- Home Section Start -->
 <section class="home" id="home">
   <div class="home-content">
     <div class="text">
       <div class="text-one">Hey there,</div>
       <div class="text-three">A successful career is just one step away  </div>
     </div>
   </div>
 </section>

<!-- About Section Start -->
<section class="about" id="about">
  <div class="content">
    <div class="title"><span>About Us</span></div>
  <div class="about-details">
    <div class="left">
      <img src="../static/images/logo.png" alt="">
    </div>
    <div class="right">
      <div class="topic">Skill / Job Recommender Info</div>
      <p>Welcome to JobRecommenderInfo.in, Here user can search and apply for the job based on their skill-set.
      <br>
      <br>
      This application recommends the available job vacancy position based on the recruiters data.</p>
    </div>
  </div>
  </div>
</section>


<!-- My Services Section Start -->
 <section class="services" id="product">
   <div class="content">
     <div class="title"><span>Categories</span></div>
     <div class="boxes">
       <div class="box">
         <div class="icon">
          <i class="fa fa-bank"></i>
       </div>
       <div class="topic">Design & Creative</div>
       <p>A creative designer is someone who uses design skills to promote a company</p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-car"></i>
       </div>
       <div class="topic">Design & Development</div>
       <p>Design development engineers  are responsible for testing products for various industries </p>
     </div>
       <div class="box">
         <div class="icon">
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
       </div>
       <div class="topic">Sales & Marketing</div>
       <p>A sales and marketing manager is responsible for researching and developing marketing opportunities and planning and implementing new sales plans. </p>
     </div>
       <div class="box">
         <div class="icon">
          <i class="fa fa-laptop" aria-hidden="true"></i>
       </div>
       <div class="topic">Information Technology</div>
       <p>There are a wide variety of jobs you can get in IT, including: Web developer, Network Administrater, Data analyst. </p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fab fa-android"></i>
       </div>
       <div class="topic">Mobiles Application</div>
       <p>The process of designing and building software for use on mobile.</p>
     </div>
       <div class="box">
         <div class="icon">
          <i class="fa fa-desktop" aria-hidden="true"></i>
       </div>
       <div class="topic">Artificial Intelligence</div>
       <p>Artificial intelligence is widely used to provide personalized recommendations to people.</p>
     </div>
   </div>
   </div>
</section>
<!-- Contact Me section Start -->
<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>Contact Us</span></div>
    <div class="text">
      <div class="topic"></div>
      <a href="https://github.com/itz-sanjay"><i class="fab fa-github"></i> SANJAY</a>
      <a>--</a>
      <a href="https://github.com/saran-codez"><i class="fab fa-github"></i> SARAN</a>
    </div>
  </div>
</section>


<!-- Footer Section Start -->
<footer>
  <div class="text">
    <span>Created By   </span>
    <br>
    <span>SANJAY   |</span>
    <span>SARAN   |</span>
    <span>SANTHOSH   |</span>
    <span>SABARIVASAN</span>
  </div>
</footer>
  <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "0a85f31a-93e3-420c-8697-e9bf5fcce122", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "fa46682c-735a-495a-8b9d-1c7223b048a1", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</body>
</htm
