<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/stdash.css') }}">
</head>
<body>
    <div class="container">
        
        <div class="navigation">
            <ul> 
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
                        <span class="title">Job Recommender</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li> 
                <li>
                    <a href="/changepass">
                        <span class="icon"><ion-icon name="lock-open-sharp"></ion-icon></span>
                        <span class="title">Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <span class="icon"><ion-icon name="exit-outline"></ion-icon></span>
                        <span class="title">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
    
      <!-- main-->
      <div class="main">
        <div id="search" class="search search--hidden">
            <div class="search__content" id="search-content"></div>
            <button id="clear" class="search__clear">Clear</button>
        </div>
        <div class="jobs" id="jobs"></div>
        <script src="{{ url_for('static', filename = 'js/jobs.js') }}"></script>
  </div>
 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!--menu toggle-->
<script>
    let toggle=document.querySelector('.toggle');
    let navigation=document.querySelector('.navigation');
    let main=document.querySelector('.main');

    toggle.onclick=function()
    {
      navigation.classList.toggle('active')
      main.classList.toggle('active')
    }

</script>
<script>
    //add hovered class in selected list item
    let list=document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('hovered'));
        this.classList.add('hovered');
    }
    list.forEach((item)=>
    item.addEventListener('mouseover',activeLink))
</script>
<script>
    window.watsonAssistantChatOptions = {
      integrationID: "0a85f31a-93e3-420c-8697-e9bf5fcce122", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "fa46682c-735a-495a-8b9d-1c7223b048a1", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</body>
</html>